In [3]:
import pandas as pd

# Reading the IMDb data
imdb = pd.read_csv(r"C:\Users\sando\OneDrive\Escritorio\IMDb.csv", encoding = 'UTF-8')
imdb.head(10)

,title,year,duration,rating,metascore,description
0,1. Once Upon a Time... in Hollywood,2019,2h 41m,R,84.0,As Hollywood's Golden Age is winding down duri...
1,2. Harry Potter and the Sorcerer's Stone,2001,2h 32m,PG,65.0,An orphaned boy enrolls in a school of wizardr...
2,3. Killers of the Flower Moon,2023,3h 26m,R,89.0,When oil is discovered in 1920s Oklahoma under...
3,4. Aftersun,2022,1h 42m,R,95.0,Sophie reflects on the shared joy and private ...
4,5. Mad Max 2: The Road Warrior,1981,1h 36m,R,77.0,"In the post-apocalyptic Australian wasteland, ..."
5,6. The Fifth Element,1997,2h 6m,PG-13,52.0,"In the colorful future, a cab driver unwitting..."
6,7. Deadpool 2,2018,1h 59m,R,66.0,Foul-mouthed mutant mercenary Wade Wilson (a.k...
7,8. The Others,2001,1h 44m,PG-13,74.0,"In 1945, immediately following the end of Seco..."
8,9. Watchmen,2009,2h 42m,R,56.0,"In a version of 1985 where superheroes exist, ..."
9,10. 300,2006,1h 57m,R,52.0,"In the ancient battle of Thermopylae, King Leo..."